In [1]:
import pandas as pd

In [16]:
A={'a':2,'b':3}
A['c'] = A.get(5,18)
print(A['c'])

18

In [21]:
df = pd.DataFrame({
    'eye':['brown' , 'blue' , 'blue', 'green', 'brown', 'brown'],
    'hair':['brown', 'blond', 'red' , 'black', 'pink' , 'hazel'],
    'height':[60   ,  72.5    ,  80   ,  74    ,  69    ,  68]
})
df

     eye   hair  height
0  brown  brown    60.0
1   blue  blond    72.5
2   blue    red    80.0
3  green  black    74.0
4  brown   pink    69.0
5  brown  hazel    68.0

In [23]:
df.dtypes

eye        object
hair       object
height    float64
dtype: object

In [22]:
df['height']

0    60.0
1    72.5
2    80.0
3    74.0
4    69.0
5    68.0
Name: height, dtype: float64

In [25]:
df[['height','eye']] #Select multiple columns

   height    eye
0    60.0  brown
1    72.5   blue
2    80.0   blue
3    74.0  green
4    69.0  brown
5    68.0  brown

In [40]:
df.loc[df['height']<=73]
df.loc[df['height']<=73].index

df.loc[(df['height']<=73) & (df['hair']=='pink')]
df.loc[(df['height']>72) | (df['hair']=='hazel')]

     eye   hair  height
1   blue  blond    72.5
2   blue    red    80.0
3  green  black    74.0
5  brown  hazel    68.0

In [61]:
df.select_dtypes('number')
df['height2']=df['height'] + 12
df['height'].astype(str)+'inches'
df['height'].max()
df['height'].quantile([.3, .5, .75])

0.30    68.500
0.50    70.750
0.75    73.625
Name: height, dtype: float64